
<div class="showcase_column">

    <div class="showcase_row" style="flex: 1">

        <div class="showcase" *ngFor="let item of basic_showcases">
            <h1>{{item.title}}</h1>
            <app-simple-list [list]="item.list"></app-simple-list>
        </div>
    
    </div>

    <div class="showcase_row" style="flex: 2">

        <div class="showcase">
            <h1>Hobby Experience</h1>
            <!-- <ul class="basic_list">
                <li *ngFor="let item of hobby_experience">
                    <h1>{{item.title}}</h1>
                    <br>
                    <p>{{item.information}}</p>
                </li>
            </ul> -->
        </div>
        
    
    </div>

</div>
