#navbar {
    position: fixed;
    top: 0;
    background: #1d2729;
    width: 100%;
    padding: 3px;
    box-shadow: 0 4px 1px -2px #162020;
    z-index: 1000;
    height: 80px;
    box-sizing: border-box;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar li {
    display: inline-block;
}

.navbar_entry {
    margin: 0px 3px;
    box-shadow: 0 0 5px #101818;
    height: 72px;
    width: 72px;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
}

.navbar_entry:hover {
    /* background-color: #212d30; */
    box-shadow: 0 0 1px #4e7878;
    filter: brightness(2.0)
}

.navbar_entry p{
    color: #FFF;
}

.navbar_entry img{
    width: 100%;
    height: 100%;
}

#bottom_spacer {
    padding-top: 80px
}